*{
    margin: 0;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(205, 255, 218);
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
}
.back{
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: white;
    color: rgba(0, 0, 0, 1);
    border-radius: 5px;
    padding: 7px;
    transition: all 0.2s ease-in-out;
}
.back:hover{
    color: grey;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.login_card{
    width: 900px;
    height: 600px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.left{
    width: 50%;
}
.topSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
.topText{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
    margin-left: -120px;
}
.topText i{
    font-size: 40px;
    color: #00ff44;
}
.topText h4{
   font-weight: bolder;
}
.topText p{
    font-weight: normal;
    font-size: 12px;
    color: #2c2c2c;
 }
 .midSection{
     display: flex;
     flex-direction: column;
     margin-top: 20px;
     gap: 10px;
 }
 .midSection label{
     color: #2c2c2c;
     font-weight: bold;
     font-size: 13px;
}
.midSection input{
    color: #2c2c2c;
    font-weight: bold;
    font-size: 13px;
    padding: 10px;
    width: 20vw;
    border: none;
    outline: none;
}
.input:hover{
    border-bottom: 2px solid #00ff44;
}
.input:focus{
    border-bottom: 2px solid #00ff44;
}
.input:hover i{
    color: #00ff44;
}
.passwordContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #2c2c2c;
    font-size: 10px;
}
.remember{
    display: flex;
    align-items: center;
}
.remember input{
    margin-left: -140px;
}
.forgot{
    color: #00ff44;

}
.forgot:hover{
    color: grey;
    cursor: pointer;
}
.bottom p{
    font-size: 12px;
    font-weight: bold;
}
.bottom a{
    font-size: 12px;
    font-weight: bold;
    color: black;
}
.create a:hover{
    color: #00ff44;
    cursor: pointer;
}
.midSection button{
    color: #2c2c2c;
    font-weight: bold;
    font-size: 13px;
    padding: 10px;
    background-color: #00ff44;
    border: none;
    border-radius: 7px;
    transition: all 0.2s ease-in-out;
    width: 100%;
    margin-bottom: 10px;
}
.midSection button:hover{
    background-color: #c9fad6;
    cursor: pointer;
}
.username, .password{
     display: flex;
     flex-direction: column;
     gap: 10px;
}
.right{
    background-image: url("img/login_bg.jpg");
    background-position: center;
    background-size: cover;
    width: 50%;
}
